{% load utils %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
	<head> 
		<title>{% block title %}{{site.name}} - Portfolios Made Simple{% endblock %}</title>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="{% block metaDescription %}Portfolio builder{% endblock %}" />
		<meta name="keywords" content="{% block metaKeywords %}Portfolios,Portfolio,Catalog,Catalogs,Site builder{% endblock %}" />
	    {% block css %}
			{% if not dic.no_base_css %}
		      <link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		      <link rel="stylesheet" type="text/css"  media="print" href="{{ MEDIA_URL }}combined-print-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		      <!--[if IE]>
		        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
		      <![endif]-->
			{% endif %}
	    {% endblock %}
	{% block head %}
		{{ block.super }}
		<style type="text/css">
		body {
			{% if files.background %}background: url('{{ files.background|safe}}') center 0 no-repeat ;{% endif %}
		}
		</style>
		{{ pack.css.render }}
		{{files.css.render}}
	{% endblock %}
	<link rel="icon" href="{{ MEDIA_URL }}portfolios/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="{{ MEDIA_URL }}portfolios/images/favicon.ico" type="image/x-icon">
	</head>
	<body class="{{body_class}}{% block bodyClass %}{{dic.pattern}} {% if dic.rtl %}rtl{% endif %}{% endblock %}">
	<div id="wrap" class="container">
		<div id="container">
			<div id="header">
				<div id="caption">
					<h1 id="title" class="logo">
					{% block logo %}
						{%if dic.logo.mime_type %}
						<a href="{{ portfolio.url }}" title="{{ dic.moto }}">
							{{ dic. }}
							<span class="hide">{{  portfolio.title }}</span>
						</a>
						{% else %}
						<a href="{{ portfolio.url }}" title="{{ dic.moto }}">{{  portfolio.title }}</a>
						{% endif %}
					{% endblock %}
					</h1>
					<div id="tagline">{{ dic.moto }}</div>
				</div>
				<div id="topNav" align="right">
				{% block topNav %}{% endblock %}
				</div>
				<div id="navigation" class="nav span-24">
					{% block nav %}
						{% nav_list nav request.META.PATH_INFO "menus"%}
					{% endblock %}
					<div class="fixed">&nbsp;</div>
				</div>
			</div>
			<div id="content" class="span-24">
				{% block content %}
					<div id="main">
					{% block main %}
					{% endblock %}
					</div>
					<div id="sidebar">
					{% block sidebar %}
						{% if items %}
						<h2>Featured:</h2>
						{% with "horizontal" as catalog_class %}
							{% include "site/catalog.inc.html" %}
						{% endwith %}
						{% endif %}
					{% endblock %}
					</div>
				{% endblock %}
				<div class="fixed">&nbsp;</div>
			</div>
			<div id="footer" class="span-24">
			{% block footer %}
				<div id="footer-portfolio">
					{% block footer_portfolio %}
					<a href="{{ portfolio.url }}">{{ portfolio.title }}</a>
					{% endblock %}
				</div>
				<div id="footer-powered">
					Powered by <a href="http://{{ site.domain }}">{{ site.name }}</a> 
					| <a href="{{ portfolio.get_absolute_url}}">DashBoard</a>
					{% if last_portfolio %}
					| Last portfolio viewed <a href="{{ last_portfolio.url }}">{{ last_portfolio.title }}</a>
					{% endif %}
				</div> 
				<div id="copyright">
				</div>
			{% endblock %}
			</div>
		</div>
		<div class="fixed">&nbsp;</div>
	</div>
	</body>
</html>