{% load utils %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head> 
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="{% block metaDescription %}{{ portfolio.name }} - {{ dic.moto.translate }}{% endblock %}" />
	<meta name="keywords" content="{% block metaKeywords %}{{ dic.metaKeywords }}{% endblock %}" />

	<title>
	{% block title %}
		{%if page.is_home %}
			{{  portfolio.title }} - {{ dic.moto.translate }}
		{%else%} 
			{{ page }} | {{  portfolio.title }}  
		{%endif%}
	{% endblock %}
	</title>
	{% if not dic.no_base_css %}
	<!-- This template is not compatible with BluePrint
	<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">    
	-->
	<!--[if IE]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	{% endif %}
	<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
	<![endif]-->
	{% block head %}
		{{ block.super }}
		<style type="text/css">
		body {
			{% if dic.background %}background: url('{{ dic.background.render|safe}}') center 0 no-repeat ;{% endif %}
		}
		</style>
		{{ pack.css.render }}
		{{dic.css.render}}
	{% endblock %}
	<link rel="icon" href="/static/{{version}}/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/{{version}}/images/favicon.ico" type="image/x-icon">
</head>
<body class="{{body_class}}{% block bodyClass %}{{dic.pattern.translate}} {% if dic.rtl %}rtl{% endif %}{% endblock %}">
<div id="wrap" class="container">
	<div id="container">
		<div id="header">
			<div id="caption">
				<h1 id="title" class="logo">
				{% block logo %}
					{%if dic.logo.mime_type %}
					<a href="{{ portfolio.url }}" title="{{ dic.moto.translate }}">
						{{ dic.logo.render }}
						<span class="hide">{{  portfolio.title }}</span>
					</a>
					{% else %}
					<a href="{{ portfolio.url }}" title="{{ dic.moto.translate }}">{{  portfolio.title }}</a>
					{% endif %}
				{% endblock %}
				</h1>
				<div id="tagline">{{ dic.moto.translate }}</div>
			</div>
			<div id="topNav" align="right">
			{% block topNav %}{% endblock %}
			</div>
			<div id="navigation" class="nav span-24">
				{% block nav %}
					{% nav_list nav request.META.PATH_INFO "menus"%}
				{% endblock %}
				<div class="fixed">&nbsp;</div>
			</div>
		</div>
		<div id="content" class="span-24">
			{% block content %}
				<div id="main">
				{% block main %}
				{% endblock %}
				</div>
				<div id="sidebar">
				{% block sidebar %}
					{% if items %}
					<h2>Featured</h2>
					{% with "horizontal" as catalog_class %}
						{% include "site/catalog.inc.html" %}
					{% endwith %}
					{% endif %}
				{% endblock %}
				</div>
			{% endblock %}
			<div class="fixed">&nbsp;</div>
		</div>
		<div id="footer" class="span-24">
		{% block footer %}
			<div id="copyright">
				{% nav_anchors footer_nav request.META.PATH_INFO %}
			</div>
		{% endblock %}
		</div>
	</div>
	<div class="fixed">&nbsp;</div>
</div>
{% block beforeBodyEnd %}
  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/base.js" type="text/javascript"></script>
  {{dic.js.render}}
{% endblock %}
	
</body>
</html>
